/*
Theme Name: injob
Theme URI: http://inwavethemes.com/wordpress/injob
Author: inwavethemes
Author URI: http://inwavethemes.com
Description: injob is an advanced job board wordpress theme with a modern, clean, intuitive, and fully responsive design, that looks perfect on any size tablet or mobile screen.
Version: 2.0.0
License: gnu general public license v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: injob
Tags: post-formats, theme-options, flexible-header, custom-header, custom-background, custom-colors, left-sidebar, right-sidebar
*/

/*-------------------------------------------------------
[Table of contents]
1. Common style
2. Panel
        + Panel setting
3. Layout
4. Header
        + Header default
        + Header v2
        + Header v3
        + Header v4
		+ Sticky header
        + Mega menu
        + Menu - Not Page heading
5. Content
        + Slider
        + Page title
		+ About us
		+ Contact us
        + Blog
            - BLOG LISTING
            - BLOG DETAIL
6. Footer

--------------------------------------------------------*/
/** COMMON STYLE **/
body{
    font-size:13px;
    line-height:30px;
    font-weight:normal;
    color:#777;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}
h1, h2{
    font-weight: 600;
}
p:last-child{
    margin:0;
}
img{
    max-width:100%;
    height:auto;
}
pre{
    background: #232323 linear-gradient(#fff 50%, #f1f1f1 50%);
    background-size: 38px 38px;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: #838383;
    display: block;
    line-height: 19px;
    margin: 5px 0;
    overflow-x: visible;
    overflow-y: hidden;
    padding: 0 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.clear{
    clear:both;
}
dl, dd{
    margin-bottom:20px;
}
address {
    font-style: italic;
    margin: 0 0 15px;
}
a{
    color: #2980b9;
}
a:hover, a:focus{
    text-decoration: none;
    color: #333;
}
.post-text ul,.post-text li,
.entry-content ul,.entry-content li{
    list-style:inherit;
}
.page-links{
    margin:5px 0;
    clear: both;
}
.page-links > a,.page-links > span{
    padding: 3px 10px;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(51, 51, 51, 0.1);
}
.page-links-title{
    margin-right: 5px;
}
.post-text ul,.entry-content ul{
    margin-left:15px;
}
input[type="button"], input[type="submit"] {
    border: medium none;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-right: 5px;
    outline: medium none;
    padding: 3px 25px;
    color:#fff;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
ul, ol{
    list-style-position: inside;
}
/** =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 10px auto 10px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 0 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption .wp-caption-text {
    line-height: 17px;
    margin: 0;
    font-style:italic;
    background:#f1f1f1;
    text-align:left;
    padding: 12px 20px;
    width:calc(100% - 3px);
}
body pre{
    background: #eee;
    padding: 10px;
}
table {
    border-collapse: collapse;
    margin: 0 0 1.5em;
    width: 100%;
}
thead tr th, tbody tr td, tbody tr th, tfoot tr td, thead tr th{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
thead tr th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    border-top: none;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.post-text ol{
    padding-left:15px;
    line-height:36px;
}
.post-text ol ol{
    padding-left:30px;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
.gallery-caption {
    font-weight: normal;
}
.bypostauthor {
    font-weight: normal;
}
.sticky{
    font-weight: normal;
}
/*.sticky .post-icon{
    background: #f98b2f!important;
}*/
.sticky .post-icon i::before{
    content: '\f08d'!important;
}

.iw-parallax,.iw-parallax-overlay{
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Panel Setting */
.panel-tools{
    position:fixed;
    left: -240px;
    top:80px;
    z-index:9999;
    background:#fff;
    box-shadow:1px 1px 2px rgba(0,0,0,0.1);
    color:#848484;
    font-size:11px;
}
.panel-tools .panel-content{
    padding:16px;
    width:240px;
    /*display:none;*/
    /*margin-left:-240px;*/
    border: 1px solid #dddddd !important;
}
.panel-tools button,.panel-tools span.button-command{
    border:none;
    color:#848484;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #dddddd;
    position: relative;
}
.panel-tools span.button-command{
    padding:0 8px;
}
.panel-tools a:active > span.button-command{
    top:2px;
}
.panel-tools h3{
    font-size:13px;
    padding-bottom:12px;
    margin-top:12px;
    text-transform:uppercase;
}
.panel-tools .title{
    border-bottom:1px solid #d8d8d8;
}
.panel-tools .panel-button{
    right:-45px;
    position:absolute;
    text-align:center;
    top:-5px;
    width:45px;
    height:45px;
    line-height:45px;
    font-size:24px;
    background: #f5f5f5;
    border: 1px solid #dddddd;
    border-left:0;
    border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
}
.off-canvas-enabled body.rtl .panel-tools{
    left: 0!important;
    right: auto!important;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}
.panel-tools .panel-button i{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
}
.panel-tools .panel-button:hover i{
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.panel-tools .panel-button.active i{
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.panel-tools .layout-setting h3{
    margin-top:5px;
}
.panel-tools .button-command,.reset-button button{
    background:#f6f6f6;
    width:100px;
    margin-right:0px;
    line-height:28px;
    border:1px solid #dedede;
    font-size:11px;
    color:inherit;
    text-transform:uppercase;
}
.panel-tools .rtl-setting{
    margin-top: 5px;
}
.panel-tools .rtl-setting .button-command{
    width:auto;
}
.panel-tools .button-command.active,.reset-button button{
    color:#fff;
}
.panel-tools  .color-setting button{
    width:27px;
    height:27px;
    margin-right:5px;
    border:2px solid #fff;
}
.panel-tools  .color-setting button.active{
    border:2px solid #d7d7d7;
}
.panel-tools  .color-setting button:last-child{
    margin-right:0;
}
.panel-tools  .reset-button{
    margin-top:0px;
    padding-top:10px;
}
.panel-tools .overlay-setting{
    position:relative;
}
.panel-tools .overlay-setting.disabled:after{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:'';
    background:#fff;
    z-index:1;
    opacity:0.7;
}

@media (min-width: 1200px) {
    .container, .iw-container {
        width: 1200px;
    }
}
@media (max-width: 767px) {
    .vc_row .container {
        padding-left:30px;
        padding-right:30px;
    }
}
/*Reset visualcomposer */
body .vc_col-has-fill > .vc_column-inner,
body .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner,
body .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner,
body .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
body .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner,
body .vc_row-has-fill > .vc_column_container > .vc_column-inner,
body .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
body .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner{
    padding-top: 0;
}
a.vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat{
    background: #f7f7f7;
    color: #232323;
}
a.vc_btn3.vc_btn3-shape-rounded{
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}
a.vc_btn3.vc_btn3-size-sm{
    padding: 10px 27px;
    font-size: 14px;
    font-weight: 500;
}

.iw-has-parallax{
    position: relative;
}
.iw-has-parallax .iw-parallax{
    background-size: cover !important;
}
@media (min-width: 1024px) {
    div.iw-has-parallax {
        background: none !important;
    }
}
@media (max-width: 1024px) {
    div.iw-has-parallax .iw-parallax{
        display: none;
    }
}

/*preload*/
#preview-area{
    height: 100%;
    left: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
    background: #1abc9c;
}
#preview-spinners{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    margin: auto;
}
.sk-chasing-dots {
    margin: 40px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
    animation: sk-chasingDotsRotate 2s infinite linear; }
.sk-chasing-dots .sk-child {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
    animation: sk-chasingDotsBounce 2s infinite ease-in-out; }
.sk-chasing-dots .sk-dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
@-webkit-keyframes sk-chasingDotsRotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }
@keyframes sk-chasingDotsRotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }
@-webkit-keyframes sk-chasingDotsBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1); } }
@keyframes sk-chasingDotsBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1); } }

/*modal bootstrap*/
.modal-header {
    color: #ffffff;
    text-transform: uppercase;
    background: #f16e8e;
    padding: 25px 15px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-bottom: none;
}
.modal-header .close {
    color: #ffffff;
    opacity: 1;
    width: 24px;
    z-index: 9;
    margin-top: -23px;
    display: none;
}
.modal-title {
    font-weight: 600;
    color: #fff;
}
.modal-content{
    -webkit-box-shadow: 0 15px 50px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 50px rgba(0,0,0,.3);
    box-shadow: 0 15px 50px rgba(0,0,0,.3);
    border: none;
}
.modal-content form{
    text-align: left;
}

.background-scroll{
    -webkit-animation:100s bgscroll infinite linear;
    -moz-animation:100s bgscroll infinite linear;
    -o-animation:100s bgscroll infinite linear;
    -ms-animation:100s bgscroll infinite linear;
    animation:100s bgscroll infinite linear;
    background-repeat: repeat-x;
}

@-webkit-keyframes bgscroll{
    100%{
        background-position:3000px 0px;
    }
}

@-moz-keyframes bgscroll{
    100%{
        background-position:3000px 0px;
    }
}

@-o-keyframes bgscroll{
    100%{
        background-position:3000px 0px;
    }
}

@-ms-keyframes bgscroll{
    100%{
        background-position:3000px 0px;
    }
}

@keyframes bgscroll{
    100%{
        background-position:3000px 0px;
    }
}

/*select2*/
body .select2-container .select2-selection--single{
    height: 40px;
    border: 1px solid rgba(51,51,51,0.05);
}
body .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
    padding-left: 15px;
}
body .select2-search--dropdown{
    padding: 0;
}
body .iwj-find-jobs .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 7px;
}
body .select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-left: 2px;
}
body.select2-container--default .select2-results__option--highlighted[aria-selected],
body .select2-container--default .select2-results__option[aria-selected="true"],
body .select2-container--default .select2-results__option--highlighted[aria-selected]{
    background: #fff;
}
body .select2-container--default .select2-results__option {
    background: #ffffff;
    border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
    color: #333;
}
body .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 40px;
}
body .select2-container--default .select2-search--dropdown .select2-search__field {
    border: none;
    border-bottom: 1px solid #eee;
    line-height: 30px;
    padding: 5px 15px;
}
body .select2-container--open .select2-dropdown{
    border: 1px #eeeeee solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
body .select2-container--open .select2-dropdown.select2-dropdown--above {
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}
body .select2-container--open .select2-dropdown.select2-dropdown--below {
    margin-top: -42px;
    margin-bottom: -1px;
}
body .select2-container--open .select2-dropdown.select2-dropdown--below.iwj-select-2-wsearch {
    margin-top: 0;
}

body .select2-results__option {
    padding: 12px 20px;
}
body .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
body .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
    border-bottom: none;
}
body .select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
body .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple{
    border-top: none;
}
body .select2-container--default .select2-results > .select2-results__options{
    max-height: 245px;
}
/** END COMMON STYLE **/


/** LAYOUT ***/
.body-boxed .wrapper {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 1);
    margin: auto;
    max-width: 1300px;
    overflow: hidden;
    position: relative;
}
.wrapper{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
}
.canvas-menu-open .iw-overlay{
    position: absolute;
    background: rgba(0,0,0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
}
.contents-main, .main-content {
    padding-bottom: 90px;
    padding-top: 90px;
}
.page-template-home-page .contents-main, .page-template-home-page .main-content {
    padding-bottom: 0;
    padding-top: 0;
}
.page-template-full-width-page .contents-main, .page-template-full-width-page .main-content {
    padding-bottom: 0;
    padding-top: 0;
}
/** END LAYOUT ***/

/*====== HEADER ======*/

/* Header Default */
.header.header-default {
    border-bottom: 1px rgba(255, 255, 255, 0.05) solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}
.admin-bar .header.header-default:not(.clone):not(.no-page-heading){
    top: 30px;
}
.admin-bar.body-boxed .header.header-default:not(.clone):not(.no-page-heading){
    top: 0;
}
.single-post .header.header-default{
    background: rgba(0,0,0, 0.1);
}
.header.header-default.no-page-heading {
    position: relative;
    top: auto;
    left: auto;
}
.header.header-default.clone {
    background: #ffffff;
    border-bottom: 1px #eeeeee solid;
}
.header.header-default.clone .navbar-default .navbar-nav > li > a {
    color: #333333;
}
.header.header-default .iw-top-bar-wrapper {
    padding: 12px 100px;
    position: relative;
    z-index: 9999;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.2);
}
.header.header-default.clone .iw-top-bar-wrapper {
    display: none;
}
.top-bar-left .contact > span {
    padding: 0 25px;
    color: #fff;
    position: relative;
    display: inline-block;
}
.top-bar-left .contact > span:after {
    position: absolute;
    content: "";
    left: auto;
    right: 0;
    top: 4px;
    height: 11px;
    width: 1px;
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
}
.top-bar-left .contact > span:first-child {
    padding-left: 0;
}
.top-bar-left .contact > span:last-child {
    padding-right: 0;
}
.top-bar-left .contact > span:last-child:after {
    display: none;
}
.top-bar-left .contact > span span {
    opacity: 0.5;
    margin-left: 5px;
}
.header.header-default h1.iw-logo {
    margin: 30px 0 10px;
}
.header.header-default.clone h1.iw-logo {
    margin: 15px 0 0;
}
.header.header-default h1.iw-logo .logo-mobile {
    display: none;
}
.iw-top-bar-wrapper .top-bar-right {
    text-align: right;
    color: #ffffff;
}
.iw-top-bar-wrapper .top-bar-right > div {
    float: right;
}
.iw-top-bar-wrapper .top-bar-right .social-header {
    margin-left: 10px;
    padding-left: 18px;
    position: relative;
}
.iw-top-bar-wrapper .top-bar-right .social-header:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 11px;
    display: inline-block;
    left: 0;
    top: calc(50% - 5px);
    background: rgba(255, 255, 255, 0.1);
}
.iw-top-bar-wrapper .top-bar-right .author-login {
    margin-right: 15px;
    padding-left: 45px;
    position: relative;
    padding-right: 20px;
}
.iw-top-bar-wrapper .top-bar-right .author-login:after {
    content: "\f35f";
    font-family: "Ionicons";
    position: absolute;
    right: 0;
    top: 4px;
    color: #fff;
    opacity: 0.3;
}
.iw-top-bar-wrapper .top-bar-right .author-avatar {
    width: 25px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 0;
    overflow: hidden;
}
.iw-top-bar-wrapper .top-bar-right .author-name {
    opacity: 0.4;
    color: #fff;
    text-transform: capitalize;
    position: relative;
    top: 1px;
}
.iw-top-bar-wrapper .top-bar-right .author-login:hover .author-name, .iw-top-bar-wrapper .top-bar-right .author-login:hover:after {
    opacity: 1;
    color: #fff;
}
.header.header-default .author-login .iwj-dashboard-menu {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 250px;
    position: absolute;
    top: 100%;
    z-index: 9999999999;
    visibility: hidden;
}
.header.header-default.header-style-v2 .author-login .iwj-dashboard-menu:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #34495e;
    margin-left: -8px;
    bottom: calc(100% - 25px);

}
.header.header-default .author-login:hover .iwj-dashboard-menu {
    visibility: visible;
}
.header.header-default .author-login .iwj-dashboard-menu ul {
    margin-top: 14px;
    box-shadow: 0 15px 50px rgba(41, 128, 185, 0.15);
    -webkit-box-shadow: 0 15px 50px rgba(41, 128, 185, 0.15);
    background-color: #34495e;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 30px;
}
.header.header-default.header-style-v2 .author-login .iwj-dashboard-menu ul {
    margin-top: 25px;
}
.header.header-default .author-login .iwj-dashboard-menu li a {
    display: block;
    color: #ffffff;
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    position: relative;
    text-align: left;
    padding: 0;
    -webkit-transition: padding 0.3s ease 0s;
    transition: padding 0.3s ease 0s;
    border-bottom: 1px rgba(255, 255, 255, 0.05) solid;
}
.header.header-default .author-login .iwj-dashboard-menu ul li:hover a, .header.header-default .author-login .iwj-dashboard-menu ul li:hover i {
    color: #bbb;
}
.header.header-default .author-login .iwj-dashboard-menu ul li.active a, .header.header-default .author-login .iwj-dashboard-menu ul li.active i {
    color: #bbb;
}
.header.header-default .author-login .iwj-dashboard-menu li:last-child a {
    border: none;
}
.header.header-default .author-login:hover .iwj-dashboard-menu li a {
    padding: 17px 0;
    position: relative;
}
.header.header-default .author-login .iwj-dashboard-menu li {
    position: relative;
    padding: 0;
    border: none;
}
.header.header-default .author-login .iwj-dashboard-menu li a i {
    margin-right: 25px;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.iw-top-bar-wrapper .top-bar-right .author-login-meta {
    display: none;
}
.iw-top-bar-wrapper .top-bar-right .author-login-meta > span {
    display: inline-block;
    padding: 0 15px;
    font-size: 20px;
    color: #000000;
    opacity: 0.3;
    position: relative;
}
.iw-top-bar-wrapper .top-bar-right .author-login-meta > span:hover {
    color: #ffffff;
    opacity: 1;
}
.iw-top-bar-wrapper .top-bar-right .author-login-meta > span span.count {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: -4px;
    right: 1px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    background: #f16e8e;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    font-size: 12px;
}
.iw-top-bar-wrapper .top-bar-right .author-login-meta > span:hover span.count {
    opacity: 1;
}
.iw-top-bar-wrapper .top-bar-right .social-header > div {
    display: inline-block;
}
.iw-top-bar-wrapper .top-bar-right .social-header > div.title {
    opacity: 0.4;
    color: #fff;
    position: relative;
    top: -1px;
}
.iw-top-bar-wrapper .top-bar-right .iw-social-all {
    margin: 0;
    padding: 0;
}
.iw-top-bar-wrapper .top-bar-right .iw-social-all li {
    display: inline-block;
    margin-left: 5px;
}
.iw-top-bar-wrapper .top-bar-right .iw-social-all li a {
    background: rgba(0, 0, 0, 0.2);
    font-size: 11px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    text-align: center;
}
.iw-top-bar-wrapper .top-bar-right .iw-social-all li a:hover {
    opacity: 1;
    color: #fff;
}
.iw-top-bar-wrapper .top-bar-right .iw-social-all li a.facebook:hover {
    background: #3B5998;
}
.iw-top-bar-wrapper .top-bar-right .iw-social-all li a.twitter:hover {
    background: #0084B4;
}
.iw-top-bar-wrapper .top-bar-right .iw-social-all li a.google-plus:hover {
    background: #DB4437;
}
.iw-top-bar-wrapper .top-bar-right .iw-social-all li a.pinterest:hover {
    background: #BD081C;
}
.iw-top-bar-wrapper .top-bar-right .iw-social-all li a.linkedin:hover {
    background: #006fa6;
}
.iw-top-bar-wrapper .top-bar-right .iw-social-all li a.vimeo:hover {
    background: #009fde;
}
.iw-top-bar-wrapper .top-bar-right .iw-social-all li a.youtube:hover {
    background: #e62117;
}
.iw-top-bar-wrapper .top-bar-right .register-login{
    position: relative;
    z-index: 0;
}
.iw-top-bar-wrapper .top-bar-right .register-login:after{
    position: absolute;
    width: 73px;
    height: 23px;
    content: "";
    display: inline-block;
    top: -1px;
    left: 0;
    z-index: -1;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: rgba(255,255,255, 0.1);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.iw-top-bar-wrapper .top-bar-right .register-login.only-login:after{
    width: 62px;
}
.iw-top-bar-wrapper .top-bar-right .register-login.active-login:not(.only-login):after{
    transform : translateX(82px);
    width: 53px;
}
.iw-top-bar-wrapper .top-bar-right .register-login a{
    color: #fff;
    padding: 2px 16px;
}

.header.header-default .iw-header {
    background: transparent;
    border: none;
    padding: 0 100px;
    font-weight: 600;
    margin: 0;
    position: relative;
}
.header.header-default .iw-header .navbar-default-inner {
    display: table;
    width: 100%;
    position: relative;
}
.header.header-default .iwj-action-button {
    margin-left: 80px;
}
.header.header-default .iwj-action-button > div {
    float: left;
}
.header.header-default .iwj-action-button {
    margin-top: 32px;
}
.header.header-default .iw-header a.action-button {
    display: inline-block;
    overflow: hidden;
    margin: 0 0 0 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 25px;
    -webkit-box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
    box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
}
.header.header-default.clone .iwj-action-button {
    margin-top: 0;
}
.header.header-default.clone .iw-header a.action-button {
    margin-top: 16px;
}
.header.header-default .iw-header a.action-button span {
    color: white;
    display: inline-block;
    height: 46px;
    line-height: 46px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    font-weight: 600;
}
.header.header-default .iw-header .iw-post-a-job a.action-button,
.header.header-default .iw-header a.login {
    background: #33aa58;
}
.header.header-default .iw-header a.action-button:hover span{
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.header.header-default .iw-header a.action-button span:before {
    content: attr(data-hover);
    left: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: hidden;
}
.header.header-default .iw-header a.action-button:hover span::before {
    visibility: visible;
}
.header.header-default .iw-header a.action-button i {
    color: #fff;
    margin-right: 15px;
    font-size: 20px;
    position: relative;
    top: 2px;
}
.header.header-default .iw-header .iwj-author-mobile {
    display: none;
}
.header.header-default .iw-header .iwj-author-mobile .author-login img {
    vertical-align: inherit;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.header.header-default .iw-header .iwj-author-mobile .author-name {
    color: #fff;
    position: relative;
    text-transform: capitalize;
    top: -16px;
    padding: 0 5px;
}
.header.header-default .iw-header .iwj-author-mobile .author-avatar {
    display: inline-block;
    height: 40px;
}
.header.header-default.header-style-default nav.main-menu {
    float: left;
}
.header.header-default.header-style-default div.iw-main-menu {
    display: table;
}
.header.header-default .navbar-default ul {
    margin: 0;
    padding: 0;
}
.header.header-default .navbar-default .navbar-nav li {
    list-style: none;
}
.header.header-default .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    height: 110px;
    line-height: 110px;
    padding: 0 25px;
    text-transform: uppercase;
    background: transparent;
    position: relative;
    outline: none;
    font-weight: 600;
}
.header.header-default.clone .navbar-default .navbar-nav > li > a {
    height: 80px;
    line-height: 80px;
}
.header.header-default .navbar-default .navbar-nav > li.selected.active > a:after,
.header.header-default .navbar-default .navbar-nav > li[class*="current-menu"] > a:after,
.header.header-default .navbar-default .navbar-nav > li > a:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    opacity: 1;
}
.header.header-default .iw-header .search-form {
    height: 110px;
    width: 15px;
    text-align: center;
    margin: 0 0 0 8px;
    position: relative;
}
.header.header-default.clone .iw-header .search-form {
    height: 80px;
}
.header.header-default .iw-header .search-form .search-form-header {
    height: 30px;
    width: 100%;
    line-height: 30px;
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    text-align: center;
}
.header .iw-button-toggle {
    display: none;
}

.header .search-form {
    display: inline-block;
    font-size: 14px;
}
.header .top-search {
    -webkit-transition: width 0.3s linear 0s, right 0.3s linear 0s;
    transition: width 0.3s linear 0s, right 0.3s linear 0s;
}
.header .search-form .search-wrap {
    -webkit-transition: border-radius 0.3s linear 0s;
    transition: border-radius 0.3s linear 0s;
    position: relative;
}
.header .top-search {
    width: 0;
    padding: 0;
    margin: 0;
    border: none;
    color: #ffffff;
    position: absolute;
    height: 36px;
    line-height: 34px;
    right: -10px;
    top: calc(50% - 18px);
    -webkit-border-radius: 36px;
    border-radius: 36px;
    z-index: 9;
    overflow: hidden;

}
.header .display-search-box .top-search {
    width: 250px;
    padding: 2px 30px;
    color: #ffffff;
}
.header .search-form-header .top-search::-moz-input-placeholder {
    color: #ffffff !important;
    opacity: 1 !important;
}
.header .search-form-header .top-search::-webkit-input-placeholder {
    color: #ffffff !important;
    opacity: 1 !important;
}
.header .search-form-header .top-search::-ms-input-placeholder {
    color: #ffffff !important;
    opacity: 1 !important;
}
.header .search-form .search-wrap span.icon {
    cursor: pointer;
    position: relative;
    z-index: 10;
    color: #ffffff;
}
/* End Header Default */

/* Header v2 */
.header.header-default.header-style-v2 .iw-header {
    background: rgba(0, 0, 0, 0.1);
}
.header.header-default.header-style-v2 .iwj-action-button {
    margin: 0 0 0 20px;
}
.header.header-default.header-style-v2 .header-btn-action {
    margin-top: 32px;
    margin-left: 30px;
    float: right;
}
.header-style-v2 .iwj-author-desktop {
    position: relative;
}
.header-style-v2 .iwj-author-desktop .author-login > a {
    display: table;
}
.header-style-v2 .iwj-author-desktop .author-avatar {
    float: left;
    margin: 0 15px;
}
.header-style-v2 .iwj-author-desktop .author-avatar img {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.header-style-v2 .iwj-author-desktop .author-name {
    float: left;
}
.header-style-v2 .iwj-author-desktop .author-name .hello {
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    margin-top: 4px;
}
.header-style-v2 .iwj-author-desktop .author-name span {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
}
.header-style-v2 .register-login a {
    font-size: 13px;
    font-weight: bold;
    line-height: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    display: inline-block;
}
.header-style-v2 .register-login a i {
    margin-right: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    position: relative;
    top: 3px;
    line-height: 1;
}
.header-style-v2 .register-login .login {
    margin-left: 15px;
    margin-right: 35px;
    background: none !important;
}
.header-style-v2 .register-login .register {
    padding: 10px 30px;
    color: #ffffff !important;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25);
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25);
}
/* End Header v2 */

/* Header v3 */
.header.header-default.v3 {
    position: relative;
    top: 0 !important;
    background: #34495E;
}
.header.header-default.v3 .iw-top-bar-wrapper {
    background: rgba(0, 0, 0, 0.2);
}
/* End Header v3 */

/* Boxed */
.body-boxed .header.header-default .iwj-action-button {
    margin: 36px 0 0;
}
.body-boxed .header.header-default .iw-header a.action-button {
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: visible;
}
.body-boxed .header.header-default .iw-header a.action-button i {
    margin: 0;
    top: 0;
}
.body-boxed .header.header-default .iw-header a.action-button span {
    display: none;
}
.body-boxed .header.header-default.header-style-v2 .header-btn-action {
    margin: 0;
}
.body-boxed .header-style-v2 .iwj-author-desktop {
    margin-top: 36px;
}
.body-boxed .header-style-v2 .iwj-author-desktop .author-name {
    display: none;
}
.body-boxed .header.header-default.header-style-v2 .iwj-action-button {
    margin: 36px 0 0 0;
}
.body-boxed .header-style-v2 .iwj-author-desktop .author-avatar {
    margin: 0 0 0 10px;
}

/* Sub Menu */
.header .navbar-nav > li > .sub-menu {
    position: absolute;
    top: 100% !important;
    left: 0;
    z-index: 100;
    width: 250px;
}
.header .navbar-nav > li.sub-menu-position-new > .sub-menu {
    left: auto;
    right: 0;
}
.header .navbar-nav li .sub-menu {
    box-shadow: 0 15px 50px rgba(41, 128, 185, 0.15);
    -webkit-box-shadow: 0 15px 50px rgba(41, 128, 185, 0.15);
    background-color: #34495e;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.iw-nav-menu li .sub-menu li {
    position: relative;
}
.iw-nav-menu li .sub-menu li a {
    font-weight: 400;
}
.header .iw-header .iw-menu-main .navbar-nav ul.sub-menu > li > a {
    /*border-bottom: 1px solid #eee;*/
    display: block;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: padding 0.3s linear;
    transition: padding 0.3s linear;
}
.header .iw-header .iw-menu-main .navbar-nav ul.sub-menu > li > a:after {
    content: "";
    position: absolute;
    width: calc(100% - 60px);
    left: 30px;
    bottom: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}
.header .iw-header .iw-menu-main .navbar-nav ul.sub-menu > li:last-child > a:after {
    display: none;
}
.header .iw-header .iw-menu-main .navbar-nav > li > .sub-menu {
    visibility: hidden;
}
.iw-nav-menu li .sub-menu li{
    position: relative;
}
.header .iw-header .iw-menu-main .navbar-nav > li:hover > .sub-menu {
    visibility: visible;
}
.header .iw-header .iw-menu-main .navbar-nav > li:hover > .sub-menu > li > a,
.header .iw-header .iw-menu-main .navbar-nav ul.sub-menu > li > .sub-menu > li > a {
    padding: 14px 30px;
}
.header .navbar-nav > li > .sub-menu li .sub-menu {
    left: 200px;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 0;
    width: 250px;
    -webkit-transition: opacity 0.3s linear, left 0.3s linear;
    transition: opacity 0.3s linear, left 0.3s linear;
}
.header .navbar-nav > li.sub-menu-position-new > .sub-menu li .sub-menu,
.header .navbar-nav > li.sub-menu2-position-new > .sub-menu li .sub-menu {
    left: auto;
    right: 200px;
    -webkit-transition: opacity 0.3s linear, right 0.3s linear;
    transition: opacity 0.3s linear, right 0.3s linear;
}
.header .navbar-nav > li > .sub-menu li:hover > .sub-menu {
    left: 100%;
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.header .navbar-nav > li.sub-menu-position-new > .sub-menu li:hover > .sub-menu ,
.header .navbar-nav > li.sub-menu2-position-new > .sub-menu li:hover > .sub-menu {
    left: auto;
    right: 100%;
}
.header .sub-menu .icon-arrow:before {
    content: "\f125";
    /*display: inline-block;*/
    float: right;
    font-family: "Ionicons";
    line-height: inherit;
    color: #ffffff;
    display: none;
}

/* Sticky Header */
.header.clone {
    bottom: auto;
    left: 0;
    position: fixed !important;
    right: 0;
    top: -400px;
    -webkit-transition: top 0.2s cubic-bezier(0.3, 0.73, 0.3, 0.74) 0s;
    transition: top 0.2s cubic-bezier(0.3, 0.73, 0.3, 0.74) 0s;
    z-index: 99;
}
body.down .header.header-default:not(.clone) {
    display: none;
}
body.down .header.clone {
    top: 0;
}
body.down.admin-bar .header.clone {
    top: 32px;
}
.header .sticky-logo{
    display: none;
}
.header.clone .main-logo{
    display: none;
}
.header-sticky.clone .iw-logo .sticky-logo {
    display: block;
}
/* End Sticky Header */

/* Canvas Menu */
.off-canvas-menu, .off-canvas-btn {
    display: none;
}
.off-canvas-btn{
    -webkit-box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
    box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
}

.off-canvas-menu {
    position: fixed;
    top: 0;
    right: -240px;
    z-index: 999999;
    width: 240px;
    height: 100%;
    display: block;
    background: #34495E;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.off-canvas-menu ul {
    margin: 0;
    padding: 0;
}
.off-canvas-menu .canvas-menu li {
    list-style: none;
}
#off-canvas-close i {
    color: #ffffff;
    position: absolute;
    right: 21px;
    top: 20px;
    font-size: 12px;
}
.off-canvas-menu .canvas-menu .icon-arrow {
    right: 0;
    top: 0;
    position: absolute;
    float: right;
    padding: 0 10px;
    transition: transform 0.3s linear 0s;
    -webkit-transition: transform 0.3s linear 0s;
}
.off-canvas-menu .canvas-menu .icon-arrow::before {
    color: #ffffff;
    content: "\f35f";
    font-family: "Ionicons";
    margin: 0 10px;
}
.off-canvas-menu .canvas-menu > li.open > a .icon-arrow {
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.off-canvas-menu .canvas-menu .sub-menu > li.open .icon-arrow {
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.iw-canvas-icon {
    position: absolute;
    right: 30px;
    top: 50px;
}

.off-canvas-menu h2.canvas-menu-title {
    border-bottom: 1px solid rgba(255,255,255,0.05);
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0px;
    padding: 10px 18px;
    text-transform: uppercase;
}
.off-canvas-menu .canvas-menu li > a {
    border-bottom: 1px solid rgba(255,255,255,0.05);
    color: #ffffff;
    display: block;
    font-size: 11px;
    font-weight: 600;
    line-height: 50px;
    margin: 0;
    position: relative;
    padding: 0 20px;
    text-transform: uppercase;
    outline: none !important;
}
.off-canvas-menu .canvas-menu > li.open > a {
    border: none;
}
.off-canvas-menu .canvas-menu > li.open {
    border-width: 0 0 1px 0;
    border-style: solid;
}
.off-canvas-menu .canvas-menu .sub-menu li > a {
    border-bottom: none;
    padding: 0 40px;
}
.off-canvas-menu .canvas-menu .sub-menu .sub-menu li > a {
    padding: 0 60px;
}
/* End Canvas Menu */

/*====== END HEADER ======*/

/*====== Footer ======*/

.iw-footer ul, .iw-footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.iw-footer.iw-footer-default {
    background: #2a363b;
}
.iw-footer.iw-footer-default .widget {
    margin-bottom: 25px;
}
.iw-footer.iw-footer-default .footer-left .row > div > div,
.iw-footer.iw-footer-default .footer-right .row > div > div {
    padding-right: 35px;
}
.iw-footer.iw-footer-default .iw-footer-middle {
    padding: 60px 0;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}
.iw-footer.iw-footer-default h3.widget-title {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    margin: 0 0 35px;
}

/* Widget Inwave Contact Info */
.iw-footer .widget-info-footer.no-title h3.widget-title {
    display: none;
}
.iw-footer .widget-info-footer p {
    line-height: 28px;
    color: #989898;
    margin: 30px 0 20px;
}
.iw-footer .widget-info-footer .link_page_about_us {
    color: #989898;
    display: inline-block;
    padding: 0 20px;
    border: 1px #404a4f solid;
    -webkit-border-radius: 4px;
    line-height: 20px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 30px;
}
.iw-footer .widget-info-footer .link_page_about_us:hover {
    background: #fff;
}
.iw-footer .widget-info-footer .iw-social-footer-all {
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
    margin: 30px 0 0;
    padding: 35px 0 20px;
}
.iw-footer .widget-info-footer .iw-social-footer-all li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}
.iw-footer .widget-info-footer .iw-social-footer-all li a {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 21px;
    border-width: 2px;
    border-style: solid;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}
.iw-footer .widget-info-footer .iw-social-footer-all li a.facebook {
    color: #3B5998 !important;
    border-color: #3B5998;
}
.iw-footer .widget-info-footer .iw-social-footer-all li a.twitter {
    color: #0084B4 !important;
    border-color: #0084B4;
}
.iw-footer .widget-info-footer .iw-social-footer-all li a.google-plus {
    color: #DB4437 !important;
    border-color: #DB4437;
}
.iw-footer .widget-info-footer .iw-social-footer-all li a.pinterest {
    color: #BD081C !important;
    border-color: #BD081C;
}
.iw-footer .widget-info-footer .iw-social-footer-all li a.linkedin {
    color: #006fa6 !important;
    border-color: #006fa6;
}
.iw-footer .widget-info-footer .iw-social-footer-all li a.facebook:hover {
    color: #ffffff !important;
    background: #3B5998;
}
.iw-footer .widget-info-footer .iw-social-footer-all li a.twitter:hover {
    color: #ffffff !important;
    background: #0084B4;
}
.iw-footer .widget-info-footer .iw-social-footer-all li a.google-plus:hover {
    color: #ffffff !important;
    background: #DB4437;
}
.iw-footer .widget-info-footer .iw-social-footer-all li a.pinterest:hover {
    color: #ffffff !important;
    background: #BD081C;
}
.iw-footer .widget-info-footer .iw-social-footer-all li a.linkedin:hover {
    color: #ffffff !important;
    background: #006fa6;
}

/* End Widget Inwave Contact Info */

/* widget_nav_menu */

.iw-footer .widget_nav_menu .menu li {
    border: none;
    text-align: left;
    padding: 0;
}
.iw-footer .widget_nav_menu .menu li a {
    padding: 16px 0;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    text-transform: capitalize;
    display: block;
    color: #989898;
    float: none;
}
.iw-footer .widget_nav_menu .menu > li:last-child > a {
    border: none;
}

/* End widget_nav_menu */

/* widget_inwave-subscribe */

.iw-footer .iw-mailchimp-form {
    position: relative;
    padding-bottom: 40px;
}
.iw-footer .iw-mailchimp-form .malchimp-desc {
    margin-bottom: 22px;
}
.iw-footer .iw-mailchimp-form input.mc-email, .iw-footer .iw-mailchimp-form button  {
    font-size: 11px;
    color: #ffffff;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    box-shadow: none;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 600;
}
.iw-footer .iw-mailchimp-form input.mc-email {
    background: none;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    opacity: 0.5;
}
.iw-footer .iw-mailchimp-form button {
    background: #34495e;
    border: none;
    font-weight: 600;
}
.iw-footer .ajax-overlay {
    display: none;
    height: 30px;
    left: 50%;
    position: absolute;
    bottom: 40px;
    width: 30px;
    z-index: 1;
}

/* End widget_inwave-subscribe */

/* Copyright */

.iw-footer .iw-copy-right p {
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
}
.iw-footer .iw-copy-right p a {
    color: #ffffff;
}

/* End Copyright */

/*====== END Footer ======*/

/*====== Blog ======*/

/* Listing */
/* ===== Posts ===== */
.blog-list .post-item {
    position: relative;
    margin-bottom: 40px;
}
.blog-list .post-item .post-image {
    width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    background-color: #fff;
}
.blog-list .post-item .post-video {
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    background-color: #fff;
}
.blog-list .post-item .post-gallery{
    width: 100%;
    text-align: center;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}
.blog-list .post-item .post-gallery ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.blog-list .post-item .post-gallery ul img{
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
}
.blog-list .post-item .post-gallery .owl-controls{
    margin: 0;
    position: absolute;
    width: 100%;
    top: calc(50% - 22px);
}
.blog-list .post-item .post-gallery .owl-theme .owl-controls .owl-buttons div {
    height: 44px;
    line-height: 44px;
    width: 44px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 30px;
    color: #777;
    background: #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    font-size: 14px;
    opacity: 1;
}
.blog-list .post-item .post-gallery .owl-theme .owl-controls .owl-buttons .owl-next {
    right: 30px;
    left: auto;
}
.blog-list .post-item .post-content {
    position: relative;
    z-index: 9;
    background: #ffffff;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    padding: 35px 40px 20px;
}
.blog-list .post-item.no-featured-image .post-content{
    border-radius: 5px;
    -webkit-border-radius: 5px;

}
.blog-list .post-item .post-meta ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}
.blog-list .post-item .post-meta ul li{
    display: inline-block;
    font-style: italic;
    margin-right: 15px;
}
.blog-list .post-item .post-meta ul li i{
    font-size: 16px;
    margin-right: 1px;
}
.blog-list .post-item .post-meta ul li a{
    color: #777;
}

.blog-list .post-item .post-title {
    margin: 0 0 20px;
}
.blog-list .post-item .post-title a {
    font-weight: 600;
    color: #333333;
}
.blog-list .feature-post{
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
    padding: 0 15px;
    background: #F16E8E;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.blog-list .post-item .post-bar {
    padding: 18px 0 0;
    border-top: 1px solid #eee;
}
.blog-list .post-item .post-bar-left {
    float: left;
    font-size: 11px;
    width: 50%;
    text-transform: uppercase;
}
.blog-list .post-item .post-bar-left a {
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
}
.blog-list .post-item .post-bar-left > div {
    display: inline-block;
    margin-right: 10px;
}
.blog-list .post-item .post-bar-right {
    float: left;
    width: 50%;
    text-align: right;
}
.post-social-share .share-title {
    font-size: 12px;
    margin-right: 10px;
}
.post-social-share .social-share-item {
    text-align: right;
    padding: 0 5px 5px 0;
}
.post-social-share .social-share-item:last-child {
    padding-right: 0;
}
.post-social-share i {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 21px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.post-social-share i:before {
    line-height: inherit;
}
.post-social-share .share-buttons-fb i {
    color: #2980b9;
    border-color: #2980b9;
}
.post-social-share .share-buttons-tt i {
    color: #3ac1f1;
    border-color: #3ac1f1;
}
.post-social-share .share-buttons-linkedin i {
    color: #f16e8e;
    border-color: #f16e8e;
}
.post-social-share .share-buttons-gg i {
    color: #DB4437;
    border-color: #DB4437;
}
.post-social-share .share-buttons-tumblr i {
    color: #36465d;
    border-color: #36465d;
}
.post-social-share .share-buttons-pinterest i {
    color: #BD081C;
    border-color: #BD081C;
}
.post-social-share .share-buttons-email i {
    color: #f0483e;
    border-color: #f0483e;
}
.post-social-share .share-buttons-fb:hover i {
    color: #ffffff;
    background: #2980b9;
}
.post-social-share .share-buttons-tt:hover i {
    color: #ffffff;
    background: #3ac1f1;
}
.post-social-share .share-buttons-linkedin:hover i {
    color: #ffffff;
    background: #f16e8e;
}
.post-social-share .share-buttons-gg:hover i {
    color: #ffffff;
    background: #DB4437;
}
.post-social-share .share-buttons-tumblr:hover i {
    color: #ffffff;
    background: #36465d;
}
.post-social-share .share-buttons-pinterest:hover i {
    color: #ffffff;
    background: #BD081C;
}
.post-social-share .share-buttons-email:hover i {
    color: #ffffff;
    background: #f0483e;
}
.blog-list .post-item.no-featured-image .post-content-wrap {
    padding: 0;
}
.blog-list .post-item .post-category a {
    color: #777;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}
.blog-list .post-item:hover .post-category a {
    color: #333333;
}
.blog-list .post-item .post-desc {
    margin-bottom: 30px;
}
.blog-list .post-item .post-description {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 25px;
}
.blog-list .post-item .post-bottom {
    display: table;
    width: 100%;
    text-transform: capitalize;
    border-top: 1px #f6f7f9 solid;
    padding-top: 17px;
}
.blog-list .post-item .post-bottom .post-author a {
    color: #777;
}
.blog-list .post-item .post-bottom .post-read-more {
    font-weight: 600;
    float: right;
    text-transform: uppercase;
    font-size: 11px;
    position: relative;
    top: -2px;
}
.blog-list .post-item .post-bottom .post-read-more i {
    font-size: 18px;
    margin: 0 10px;
    position: relative;
    top: 3px;
}
/* ===== End Posts ===== */

.page-content .blog-list-filter .filter.all-posts {
    float: right;
    padding: 0;
}
.blog-list .post .post-item.fit-video,
.blog-list .post .post-item.post-gallery {
    padding-bottom: 0;
}
.blog-list .post .post-item.fit-video .featured-image {
    position: relative;
}
.blog-list .post .post-item.fit-video .featured-image .button-detail {
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    background: #34495E;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 29px;
    z-index: 9;
}
.blog-list .post .post-item.fit-video .featured-image .button-detail i {
    padding-left: 3px;
}
.blog-content .feature-post {
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
    padding: 0 15px;
    background: #F16E8E;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
@media screen and (max-width: 830px) {
    .ei-title{
        position: absolute;
        right: 0px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
        top: auto;
        bottom: 10px;
        background: #fff;
        background: rgba(255,255,255,0.9);
        padding: 5px 0;
    }
    .ei-title h2, .ei-title h3{
        text-align: center;
    }
    .ei-title h2{
        font-size: 20px;
        line-height: 24px;
    }
    .ei-title h3{
        font-size: 30px;
        line-height: 40px;
    }
}
/* End Listing */

/* Detail */
.blog-content.single-content .featured-image .post-title-feature {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 76px;
}
.blog-content.single-content .post-main-content{
    background: #fff;
    padding: 40px 50px 25px 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.blog-content.single-content .post-meta{
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}
.blog-content.single-content .post-meta ul{
    display: inline-block;
    list-style: none;
    padding: 0;
}
.blog-content.single-content .post-meta ul li{
    display: inline-block;
    font-style: italic;
    margin-right: 15px;
}
.blog-content.single-content .post-meta ul li i{
    font-size: 18px;
    margin-right: 3px;
}
.blog-content.single-content .post-meta ul li a{
    color: #777;
}
.blog-content.single-content .post-title-feature .post-info-category a {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.blog-content.single-content .post-main-info {
    position: relative;
}
.blog-content.single-content .next-post-title{
    margin-right: 10px;
}
.blog-content.single-content .next-post{
    font-size: 15px;
}
.blog-content.single-content .next-post a{
    font-size: 15px;
}
.blog-content.single-content .social-share .share-title {
    color: #333333;
    margin-right: 20px;
}
.blog-content.single-content .social-share a {
    margin-right: 15px;
}
.blog-content.single-content .post-content-desc {
    margin-bottom: 25px;
}
.blog-content.single-content .post-content-desc p{
    margin-bottom: 20px;
}
.blog-content.single-content .featured-image{
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
}
.blog-content.single-content .post-tags .tag-title{
    margin-right: 10px;
}
.blog-content.single-content .post-tags .tag-title i{
    margin-right: 5px;
}
.blog-content.single-content .post-tags a{
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    background: #eee;
    color: #333;
    display: inline-block;
    margin-right: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
}
.blog-content.single-content .post-tags a:hover{
    color: #fff;
}

.blog-content.single-content .post-bar{
    padding: 21px 0 0;
    margin-top: 20px;
    border-top: 1px solid #f1f1f1;
}
.blog-content.single-content .post-bar-left{
    float: left;
    width: 65%;
}
.blog-content.single-content .post-bar-right{
    float: right;
    width: 35%;
    text-align: right;
}
.blog-content.single-content .post-social-share .share-title{
    font-size: 15px;
}

.blog-content .post-item  .owl-theme .owl-controls {
    margin:0;
    position:absolute;
    width:100%;
    top:calc(50% - 22px);
}
.blog-content .post-item .owl-theme .owl-controls .owl-buttons div {
    height:44px;
    line-height:44px;
    width:44px;
    padding:0;
    margin:0;
    position:absolute;
    top:0;
    color:#777;
    background:#fff;
    border-radius:100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    font-size:14px;
    opacity:1;
}
.blog-content .post-item .owl-theme .owl-controls .owl-buttons div:hover {
    color:#fff;
}
.blog-content .post-item .owl-theme .owl-controls .owl-buttons i.fa {
    line-height:inherit;
}
.blog-content .post-item .owl-theme .owl-controls .owl-buttons .owl-prev {
    left:30px;
}
.blog-content .post-item .owl-theme .owl-controls .owl-buttons .owl-next {
    right:30px;
}
.blog-content.single-content .post-text .alignnone {
    width: 100%;
    margin: 15px 0;
}
.blog-content.single-content .post-text blockquote {
    font-style: italic;
    font-size: 15px;
    line-height: 30px;
}
.blog-content.single-content .post-text blockquote p:last-child {
    margin-bottom: 0;
}
.blog-content.single-content .related-post {
    padding: 90px 0 70px;
    background: #f8f9fa;
}
.blog-content.single-content .related-post-item {
    position: relative;
}
.blog-content.single-content .related-post h3 {
    color: #333333;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.blog-content.single-content .related-post .related-post-item {
    position: relative;
    margin-bottom: 30px;
}
.blog-content.single-content .related-post .related-post-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #2a363b;
    transition: opacity 0.3s linear 0s;
    -webkit-transition: opacity 0.3s linear 0s;
}
.blog-content.single-content .related-post .related-post-item:hover:after {
    opacity: 0.9;
}
.blog-content.single-content .related-post .related-post-thumb img {
    width: 100%;
}
.blog-content.single-content .related-post-item .post-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0 60px;
    transition: bottom 0.5s linear 0s;
    -webkit-transition: bottom 0.5s linear 0s;
    overflow: hidden;
    z-index: 9;
}
.blog-content.single-content .related-post-item:hover .post-info {
    bottom: 90px;
}
.blog-content.single-content .related-post-item .post-info .related-post-title {
    margin-bottom: 20px;
}
.blog-content.single-content .related-post-item .post-info .related-post-title a {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}
.blog-content.single-content .related-post-item .post-info .related-post-content {
    opacity: 0;
    height: 0;
    transition: opacity 0.5s linear 0s, height 0.5s linear 0s;
    -webkit-transition: height 0.5s linear 0s, height 0.5s linear 0s;
    overflow: hidden;
}
.blog-content.single-content .related-post-item:hover .post-info .related-post-content {
    opacity: 1;
    height: auto;
}
.blog-content.single-content .related-post-item .post-info .related-post-content p {
    color: #ffffff;
    line-height: 28px;
    opacity: 0.3;
    font-weight: 500;
    margin-top: -10px;
}
.blog-content.single-content .related-post-item .post-info .more-link {
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}
.blog-content.single-content .post-text .gallery{
    margin-bottom: 15px;
}
.blog-content.single-content .related-post-item .post-info .more-link i {
    margin-right: 10px;
    font-size: 18px;
    line-height: inherit;
    position: relative;
    top: 3px;
}
.blog-content.single-content .comments {
    margin: 35px 0 0;
}
.comments-content .comments-title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.comments-content .comments-title span {
    font-weight: 600;
    color: #333333;
}
.comments-content .comment_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.comments-content .comment_list li {
    padding: 25px;
    list-style: none;
    background: #fafafa;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.comments-content .comment_list > li {
    padding: 35px 50px;
    background: #fff;
    list-style: none;
    margin-bottom: 10px;
}
.comments-content .comment_list > li > ul > li{
    margin-top: 10px;
    padding: 25px 50px;
}
.comments-content .comment_list > li > ul > li:first-child{
    margin-top: 25px;
}

.comments-content .comment_list .commentAvt {
    float: left;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 35px;
    margin-top: 15px;
}
.comments-content .comment_list .commentRight {
    overflow: hidden;
}
.comments-content .comment_list .name-cmt {
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
}
.comments-content .comment_list .date-cmt {
    margin-left: 5px;
}
.comments-content .comment_list .content-reply {
   margin-top: 5px;
}
.comments-content .comment_list .content-reply ul {
    margin-left: 15px !important;
}
.comments-content .comment_list .content-reply li{
   padding: 0 !important;
   list-style: inherit !important;
   background: inherit !important;
}
.comments-content .comment_list .content-reply > p {
    margin-bottom: 10px;
}
.comments-content .comment_list .comment_reply a {
    font-weight: 500;
    color: #333333;
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
}
.comments-content .comment_list .comment_reply a i {
    font-size: 15px;
}
.comment-respond .comment-reply-title {
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}
.comment-respond .comment-reply-title a {
    text-transform: uppercase;
    float: right;
    margin-top: 10px;
    font-weight: 600;
}
.comment-respond .commentFormField textarea, .comment-respond .commentFormField input {
    height: auto;
    line-height: 20px;
    border: 1px solid #e6e6e6;
    color: #9e9e9e;
    margin-bottom: 25px;
    width: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.comment-respond .commentFormField textarea {
    padding: 15px 25px;
}
.comment-respond .commentFormField input {
    padding: 15px 35px;
}
.comment-respond input.btn-submit {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    height: 38px;
    line-height: 38px;
    margin: 0;
    padding: 0 15px;
    text-transform: uppercase;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.comments .logged-in-as{
    margin-bottom: 15px;
}
.comments .logged-in-as a{
    color: #333;
}
.commentList ul.children ul.children ul.children  ul.children{
    padding: 0;
}
.commentList ul.children ul.children ul.children ul.children li{
    padding-left: 0;
}
.blog-author{
    margin-top:35px;
    background: #fff;
    padding: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.blog-author .authorAvt{
    float:left;
}
.blog-author .authorAvt img.avatar{
    width: 90px;
}
.blog-author .authorAvt + .authorDetails{
    margin-left:120px;
}
.blog-author .author-name{
    line-height:24px;
    padding-bottom:10px;
    position:relative;
    color: #777;
    text-transform: uppercase;
    font-size: 20px;
}
.blog-author .author-name a {
    color: #333;
    font-style: normal;
    font-weight: 600;
    margin-left: 5px;
    font-size: 24px;
}
.blog-author .caption-desc{
}

/* End Detail */

/* Pagination */
.page-nav {
    padding-top:60px;
    margin-top:25px;
    border-top:2px solid #f2f2f2;
    text-align: right;
}
.page-nav.page-nav-blog {
    margin: 0;
    padding: 0;
    text-align: right;
}
.page-nav.page-nav-blog .page-numbers{
    float: none;
    background: #fff;
}
.page-nav-inner{
    margin:0 -3px;
}
.page-nav .page-numbers {
    color: #333333;
    display:inline-block;
    font-size: 13px;
    font-weight:600;
    height: 38px;
    line-height: 38px;
    margin: 0 6px 0 0;
    text-align: center;
    float: left;
    width: 38px;
    background: #f6f7f9;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.page-nav .page-numbers.dots {
    line-height: 34px;
}
.page-nav .page-numbers i {
    line-height:inherit;
    font-size: 18px;
}
.page-nav span.current, .page-nav a.page-numbers:hover {
    color:#fff;
}
.page-nav .page-numbers a, .page-nav .page-numbers span {
    float: none;
    display: block;
    border: none;
    background: none;
    padding: 0;
    line-height: inherit;
    color: #333333;
}
.page-nav .page-numbers.active a,
.page-nav .page-numbers a:hover,
.page-nav .page-numbers.active span,
.page-nav .page-numbers span:hover,
.page-nav .page-numbers a:hover span {
    background: none;
    color: #ffffff;
}
.page-nav .page-numbers.disabled {
    background: #f6f7f9 !important;
}
.page-nav .page-numbers.disabled span {
    color: #333333 !important;
}
/* End Pagination */

/*====== END Blog ======*/

/*====== Page Heading ======*/

.page-heading {
    background-position:center center;
    color:#ffffff;
}
.page-heading.default {
    text-align: center;
}
.page-heading h1 {
    margin: 0;
    line-height: 1.5;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
.page-heading .breadcrumbs-top {
   
    padding: 10px 15px;
    font-weight: 600;
}
.page-heading .breadcrumbs-top .current {
    text-transform: uppercase;
    font-size: 11px;
}

/*====== End Page Heading ======*/

/*====== Breadcrumbs ======*/

.breadcrumbs{
    position: relative;
    padding: 0;
    list-style: none;
    margin: 0;
}
.breadcrumbs:after{
    display: block;
    content: '';
    clear: both;
}
.breadcrumbs > li  i {
    font-size: 14px;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}
.breadcrumbs > li > a {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.breadcrumbs > li {
    display: inline-block;
}
.breadcrumbs > li.current {
    color: #fff;
    opacity: 0.7;
}

/*====== End Breadcrumbs ======*/

/* PAGETEMPLATE */
.page-template-default article.page, .page-template-left-sidebar article.page, .page-template-right-sidebar article.page, .page-template-two-sidebar-page article.page,
.search-no-results .no-results{
    background: #fff;
    padding: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.search-no-results .no-results > h3{
    margin-top: 0;
}
.search-results article{
    margin-bottom: 30px;
    background: #fff;
    padding: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.search-results .entry-header h3{
    margin-top: 0;
}
.search-results .entry-header h3 a{
    color: #333;
    font-weight: 600;
}
.search-results .entry-meta ul{
    display: inline-block;
    list-style: none;
    padding: 0;
}
.search-results .entry-meta ul li{
    display: inline-block;
    font-style: italic;
    margin-right: 15px;
}
.search-results .entry-meta ul li i{
    font-size: 16px;
    margin-right: 1px;
}
.search-results .entry-meta ul li a{
    color: #777;
}

/*====== SIDEBAR Default ======*/
.sidebar-default {
    margin: 0 0 80px;
}
.sidebar-default .widget{
    margin-bottom:40px;
    overflow: hidden;
}
.widget-area{
    background: #fff;
    padding: 35px;
    /*border: 1px solid #eee;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.iwj-jobs-page .col-md-3 .widget-area,
.iwj-employers-page .col-md-3 .widget-area,
.iwj-candidates-page .col-md-3 .widget-area,
.iwj-job-taxonomy-page .col-md-3 .widget-area{
    padding: 35px 25px;
    border: none;
}
.widget-area aside{
    margin-bottom: 55px;
}
.widget-area aside:last-child {
    margin-bottom: 0;
}
.widget-area .widget-title{
    color: #333333;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    margin: 0 0 32px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.widget-area .widget-title:after {
    content: "";
    position: absolute;
    width: 46px;
    height: 1px;
    background: rgba(0,0,0,0.1);
    left: 0;
    bottom: 0;
}

/*---- Search ----*/
.search-box{
    position:relative;
}
.search-box input.top-search{
    height:42px;
    line-height:42px;
    border:1px solid #eee;
    border-radius:0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    box-shadow:none;
    width:100%;
    padding:0 20px 0 20px;
}
.search-box .sub-search{
    position:absolute;
    top:1px;
    right:0;
}
.widget-area .widget_categories select,.widget-area .widget_text select ,.widget-area .widget_archive select{
    padding: 0 20px;
}
/*---- End Search ----*/

/*---- Categories ----*/
.widget_categories ul li,
.widget_meta ul li,
.widget_archive ul li,
.widget_pages ul li,
.widget_nav_menu ul li{
    display: inline-block;
    width: 100%;
    padding: 7px 0;
}
.widget_categories ul li,
.widget_meta ul li,
.widget_archive ul li,
.widget_pages ul li,
.widget_nav_menu ul li{
    text-align: right;
}
.widget_categories ul li:last-child,
.widget_meta ul li:last-child,
.widget_archive ul li:last-child,
.widget_pages ul li:last-child,
.widget_nav_menu ul li:last-child{
    padding-bottom: 0;
}
.widget_categories ul li > a,
.widget_meta ul li > a,
.widget_archive ul li > a,
.widget_pages ul li > a,
.widget_nav_menu ul li > a{
    color: #777;
}
.widget_categories ul li > a,
.widget_meta ul li > a,
.widget_archive ul li > a,
.widget_pages ul li > a,
.widget_nav_menu ul li > a{
    float: left;
}

.widget_nav_menu ul.sub-menu {
    margin: 40px 0 0 15px;
}

/*---- End Categories ----*/
/*---- Tag ----*/
.tagcloud{
    margin-top:20px;
}
.tagcloud a{
    color: #333;
    margin: 0 0 10px 0;
    padding: 0 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-transform: capitalize;
    display:inline-block;
    background:#eee;
    font-size: 12px !important;
    line-height: 22px;
}
.tagcloud a:hover{
    color:#fff;
}
/*---- End Tag ----*/
/*---- Recent Comments ----*/
.widget_recent_comments ul{
    margin-top:10px;
}
.widget_recent_comments ul li.recentcomment{
    padding:12px 0;
}
.widget_recent_comments .recentcomment .comment-avatar{
    float: left;
    margin-right: 20px;
}
.widget_recent_comments .recentcomment .comment-avatar img{
    max-width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.widget_recent_comments .recentcomment .comment-info{
    margin-left: 70px;
}
.widget_recent_comments .recentcomment .comment-author{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.widget_recent_comments .recentcomment .comment-author a{
    color: #333;
    font-size: 13px;
    font-weight: 600;
}
.widget_recent_comments .recentcomment .comment-author .comment-on{
    color: #777;
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
    text-transform: none;
}
.widget_recent_comments .recentcomment .comment-title{
    color: #777;
    font-style: italic;
    line-height: 21px !important;
    display: inline-block !important;
}
/*---- End Recent Comments ----*/

/*---- Recent Post ----*/
.widget_recent_entries .recent-blog-posts-default a.recent-blog-post-thumnail{
    max-width:85px;
    float:left;
    margin-right: 20px;
    overflow: hidden;
}
.widget_recent_entries .recent-blog-posts-default li.recent-blog-post{
    padding:7px 0;
    font-size:13px;
    display:table;
    width:100%;
}
.widget_recent_entries .recent-blog-posts-default .recent-blog-post-detail{
    overflow: hidden;
}
.widget_recent_entries .recent-blog-posts-default h3.recent-blog-post-title{
    margin:0;
    font-size:13px;
    line-height:23px;
}
.widget_recent_entries .recent-blog-posts-default h3.recent-blog-post-title a{
    color:#333333;
    font-weight: 600;
}
.widget_recent_entries .recent-blog-posts-default .post-date i{
    margin-right:4px;
}
/*---- End Recent Post ----*/

/*---- monter widget ----*/
.widget-area ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget-area ul ul{
    margin-left:15px;
    margin-top:10px;
}
.widget_calendar .calendar_wrap,
.widget_calendar .calendar_wrap th{
    text-align:center;
}
.widget_categories select,
.widget_text select,
.widget_archive select{
    width:100%;
    max-width:100%;
    height:44px;
    line-height:42px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border:1px solid #eee;
    padding:0 15px 0 5px;
    margin-top:20px;
}

.iw-footer .widget_nav_menu ul.sub-menu {
    margin: 0;
}
/*---- end monter widget ----*/

/*====== END SIDEBAR Default ======*/

/* ===== 404 Page ===== */
body.error404{
    background: url(./assets/images/404_bg.jpg);
}
body.error404 .wrapper{
    background: none !important;
}
.page-content-404{
    padding: 300px 0 200px;
    text-align:center;
    color: #fff;
}
.page-content-404 .text_404 {
    font-size:300px;
    font-weight:bold;
    line-height:1;
    color: #fff;
}
.page-content-404 .text_label_404{
    font-size:28px;
    font-weight: normal;
    margin:20px auto 20px;
    position: relative;
    padding-bottom: 30px;
}
.page-content-404 .text_label_404:after{
    content: "";
    position: absolute;
    width: 145px;
    height: 1px;
    background: #8f97a0;
    display: inline-block;
    top: auto;
    bottom: 0;
    left: calc(50% - 72px);
}
.page-content-404 .home_link{
    font-size: 18px;
    margin-top: 50px;
}
.page-content-404 .home_link span{
    opacity: 0.5;
}
.page-content-404 .home_link a {
    border-bottom: 1px solid #fff;
    color: #fff;
}
/* ===== End 404 Page ===== */

/*------------------------ Responsive -----------------------*/
@media (max-width: 1600px) {
    /* Header */
    .header.header-default .iw-top-bar-wrapper {
        padding: 12px 30px;
    }
    .header.header-default .iw-header {
        padding: 0 30px;
    }
    .header.header-default .iw-header .search-form {
        margin-right: 20px;
    }
    .header.header-default .iwj-action-button {
        margin-left: 0;
    }
    .header.header-default .iw-header a.action-button {
        padding: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        overflow: visible;
    }
    .header.header-default .iw-header a.action-button i {
        margin: 0;
    }
    .header.header-default .iw-header a.action-button span {
        display: none;
    }
    .header.header-default .author-login .iwj-dashboard-menu {
        left: auto;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        right: 0;
    }
    .header.header-default.header-style-v2 .author-login .iwj-dashboard-menu:before {
        left: auto;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        right: 35px;
    }
    /* End Header */
}

@media (max-width: 1280px) {
    .header.header-default .navbar-default .navbar-nav > li > a {
        padding: 0 20px;
    }
    .header.header-default.header-style-v2 .header-btn-action {
        margin-left: 0;
    }
    .header-style-v2 .register-login .login {
        margin: 0 10px;
    }
    .header-style-v2 .register-login a {
        font-size: 12px;
    }
    .header-style-v2 .register-login .register {
        padding: 10px;
    }
    .header-style-v2 .register-login a i {
        font-size: 16px;
        top: 1px;
        margin-right: 5px;
    }
}
@media (max-width: 1199px) {

    .iw-top-bar-wrapper .top-bar-right .social-header {
        border: none;
    }
    .header.header-default .iw-header .search-form {
        margin: 0;
    }
    .top-bar-left .contact .item {
        margin-right: 15px;
    }
    .header.header-default .navbar-default .navbar-nav > li > a {
        padding: 0 15px;
    }
    .header.header-default .iw-header a.action-button i{
        top: 0;
    }
    .header.header-default.header-style-v2 .navbar-default .navbar-nav > li > a {
        padding: 0 12px;
    }
}

@media (max-width: 1024px) {
    .inwave-map .infoBox{
        padding: 20px 30px;
        max-width: 350px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 992px) {
}

@media (max-width: 991px) {
    /* Header */
    .header.header-default .iw-header a.action-button i {
        top: 0;
    }
    .iw-menu-header-default, .header.header-default .iw-header .search-form {
        display: none;
    }
    .iw-top-bar-wrapper .top-bar-right .social-header {
        display: none;
    }
    .header.header-default .iw-header {
        padding: 30px 30px;
    }
    .header.header-default.clone {
        display: none;
    }
    .header.header-default h1.iw-logo {
        margin: 0;
    }
    .header.header-default h1.iw-logo .main-logo {
        display: none;
    }
    .header.header-default h1.iw-logo .logo-mobile {
        display: block;
    }
    .header.header-default .iwj-action-button {
        float: right;
        margin-top: 0;
    }
    .header.header-default .iw-header a.action-button {
        margin-left: 10px;
    }
    .body-boxed .header.header-default .iwj-action-button {
        margin: 0;
    }
    .admin-bar .header.header-default:not(.clone):not(.no-page-heading){
        top: 0;
    }
    /* End Header */
    /* Off-canvas menu */
    .menu-mobile {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        position: absolute;
        right: 20px;
        top: 25px;
        z-index: 9;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
        cursor: pointer;
    }
    .header .off-canvas-btn {
        float: right;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        margin-left: 10px;
        font-size: 16px;
        color: #ffffff;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .canvas-menu-open .iw-overlay{
        display: inline-block;
    }

    .canvas-menu-title {
        position: relative;
    }

    .wrapper {
        position: relative;
        right: 0;
    }

    .canvas-menu-open .wrapper {
        right: 240px;
    }
    .canvas-menu-open .off-canvas-menu {
        right: 0;
    }

    .rev_slider_wrapper {
        left: 0 !important;
    }

    .page-nav.page-nav-blog {
        margin: 0 0 35px;
    }
    .header.header-default .author-login .iwj-dashboard-menu{
        display: none;
    }


    div.background-scroll-home{
        padding: 200px 0 75px !important;
    }

    div.background-scroll-home-2{
        padding: 200px 0 !important;
    }

    div.background-scroll-home-v3{
        padding: 220px 0 100px !important;
    }

    .commentList ul.children ul.children ul.children {
        padding: 0;
    }
    .commentList ul.children ul.children ul.children li{
        padding-left: 0;
    }
    .header-btn-action {
        position: absolute;
        right: 0;
        top: calc(50% - 20px);
    }
    .header.header-default.header-style-v2 .header-btn-action {
        margin: 0;
    }
    .header-style-v2 .iwj-author-desktop {
        padding: 0;
    }
    .header-style-v2 .iwj-author-desktop {
        display: none;
    }
    .header.header-default.header-style-v2 .iw-header .iwj-author-mobile {
        display: block;
    }
    .header.header-default.header-style-v2 .iwj-action-button {
        margin-left: 0;
    }
}

@media (max-width: 980px) {
    .blog-content.single-content .featured-image .post-title-feature .post-title {
        font-size: 36px;
        line-height: 36px;
    }

}
@media screen and (max-width: 782px) {
    body.down.admin-bar .header.clone {
    top: 46px;
    }
}
@media screen and (max-width: 767px) {
    .modal-header .close{
        display: block;
    }
    .header.header-default .iw-header{
        padding: 20px 30px;
    }
    .contents-main, .main-content {
        padding-bottom: 45px;
        padding-top: 45px;
    }
    .blog-content.single-content .post-content-desc{
        margin-bottom: 30px;
    }
    .blog-content.single-content .post-bar-left, .blog-list .post-item .post-bar-left{
        width: 100%;
    }
    .blog-content.single-content .post-bar-right, .blog-list .post-item .post-bar-right{
        float: left;
        width: 100%;
        margin-top: 7px;
        text-align: left;
    }
    .commentList ul.children{
        padding-left: 15px;
    }
    .blog-content.single-content .related-post{
        padding: 70px 0 50px;
    }
    .blog-content.single-content .related-post .related-post-thumb img{
        max-height: 300px;
    }
    .single-post .contents-main, .single-post .main-content .comments{
        padding-bottom: 45px;
    }
    .blog-content.single-content .featured-image {
        margin-bottom: 20px;
    }
    .blog-content.single-content .featured-image .post-title-feature {
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        margin-top: 60px;
    }
    .blog-content.single-content .featured-image .post-title-feature .post-title {
        color: #333333;
        font-size: 24px;
    }
    .top-bar-left .contact .item{
        margin-right: 5px;
    }
    .top-bar-left .contact .item{
        padding: 0 10px;
    }

    .commentList ul.children ul.children{
        padding: 0;
    }

    .commentList ul.children ul.children li{
        padding-left: 0;
    }
}
@media (max-width: 640px) {
    .page-content-404 .text_404 {
        font-size: 150px;
    }
    .page-content-404 .text_label_404 {
        top: 0;
    }
    .blog-content.single-content .post-content-desc.padding-left {
        padding: 0;
    }
    .blog-content.single-content .post-main-info .post-social-share {
        left: auto;
        margin-bottom: 15px;
        position: relative !important;
        top: auto;
        width: auto !important;
    }
    .blog-content.single-content .post-social-share .post-share-title {
        margin-bottom: 15px;
    }
    .blog-content.single-content .post-social-share .social-share-item {
        display: inline-block;
        margin-right: 5px;
    }
    .iw-top-bar-wrapper .top-bar-right .author-login{
        margin-right: 0;
        padding-right: 0;
    }
    div.background-scroll-home{
        padding: 150px 0 60px !important;
    }
    div.background-scroll-home-2{
        padding: 130px 0  200px !important;
    }
    div.background-scroll-home-v3{
        padding: 130px 0 60px !important;
    }
    .page-heading .container-inner{
        padding-top: 150px !important;
    }
    .header.header-default .iw-header{
        padding: 10px 30px;
    }
    div.mobile-no-margin{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .comments-content .comment_list li{
        padding: 20px;
    }
    .comments-content .comment_list > li{
        padding: 35px 25px;
    }
    .comments-content .comment_list li li{
        padding: 30px 0;
    }
    .comments-content .comment_list .commentAvt{
        margin-right: 20px;
    }
    .commentList ul.children{
        padding-left: 0;
    }
    .comments-content .comment_list > li > ul > li{
        padding: 20px 25px;
    }
}
@media (max-width: 600px) {
    .header.header-default .iw-top-bar-wrapper {
        display: none;
    }
    body.down.admin-bar .header.clone {
        top: 0;
    }
    .page-heading.default {
        margin-top: -46px;
    }
    .header.header-default .iw-header .iwj-author-mobile {
        display: block;
    }
}
@media (max-width: 480px) {
    .header.header-default .iw-header a.action-button.register {
        display: none;
    }
    div.background-scroll-home{
        padding: 100px 0 100px !important;
    }
    .inwave-map .infoBox{
        padding: 15px;
        max-width: 300px;
    }

    .iw-video-html.style1 .video-poster{
        max-height: 350px;
    }

    .iw-testimonals .iw-testimonial-item{
        margin: 0 0 30px;
    }

    div.background-scroll-home-v3{
        padding: 100px 0 60px !important;
    }
    .blog-content.single-content .post-main-content{
        padding-left: 25px;
        padding-right: 25px;
    }
    .blog-author{
        padding: 30px 25px;
    }
    .blog-author .authorAvt + .authorDetails{
        margin-left: 0;
    }
    .blog-author .authorAvt{
        margin: 0 15px 0 0;
    }
    .iwj-action-button {
        display: none;
    }


}
@media (max-width: 360px) {
    .blog-content.single-content .related-post-item .post-info {
        padding: 0 15px;
    }
    .blog-list .post-item .post-content{
        padding: 25px;
    }
    .widget-area{
        padding: 25px;
    }
    .comments-content .comment_list .commentAvt{
        float: none;
        margin: 0 0 5px 0;
    }
    .comments-content .comment_list li li{
        padding: 15px 0;
    }
    .comment-respond .comment-reply-title a{
        float: left;
        margin-bottom: 5px;
    }
    .header.header-default .iw-header .iwj-author-mobile .author-name {
        display: none;
    }
}
@media (max-width: 320px) {

}