.multiselect-container.dropdown-menu{
    margin: 0;
    padding: 20px;
    list-style: none;
    border-color: #eee;
    width: 100%;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: scroll;
}
.multiselect-container.dropdown-menu li a{
    padding: 6px 13px;
    outline: none;
}
.multiselect-container.dropdown-menu li a:hover{
    background: none;
}
.multiselect-container.dropdown-menu li a:hover label {
    color: #2980b9;
}
.multiselect-container.dropdown-menu li a label{
    color: #666;
    font-size: 12px;
    text-transform: none;
    font-weight: 600;
}
.multiselect-container.dropdown-menu li.active a{
    color: #333;
    background: none;
}
.multiselect-container.dropdown-menu li span{
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    bottom: 0;
    margin-left: -35px;
}
.multiselect-container.dropdown-menu li span i{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #AEAEAE;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}
.multiselect-container.dropdown-menu li.active span i{
    background-color: rgb(17, 169, 17);
    box-shadow: none;
    border-color: transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center center;
}
.multiselect-container.dropdown-menu li input{
   display: none;
}
.multiselect-container.dropdown-menu li.multiselect-filter .input-group{
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px;
}
.multiselect-container.dropdown-menu li.multiselect-filter input{
   display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    box-shadow: none;
    font-size: 12px;
}
.multiselect-container.dropdown-menu .input-group-addon, .multiselect-container.dropdown-menu .input-group-btn{
    display: none;
}
.multiselect-native-select .btn-group{
    width: 100%;
}
.multiselect.dropdown-toggle.btn{
    width: 100%;
    text-align: left;
    position: relative;
    border-color: #eee !important;
    border-radius: 4px;
    background: #fff !important;
    box-shadow: none;
    padding: 0 15px;
    color: #555;
    height: 42px;
    line-height: 40px;
    font-size: 13px;
    overflow: hidden;
}
.multiselect.dropdown-toggle.btn .caret{
    position: absolute;
    right: 10px;
    top: 18px;
}
.multiselect-container li.level-2{
    padding-left: 20px;
}
.multiselect-container li.level-3{
    padding-left: 40px;
}
.multiselect-container li.level-4{
    padding-left: 60px;
}