@font-face {
  font-family: 'fontello';
  src: url('./../font/fontello.eot?10879319');
  src: url('./../font/fontello.eot?10879319#iefix') format('embedded-opentype'),
       url('./../font/fontello.woff2?10879319') format('woff2'),
       url('./../font/fontello.woff?10879319') format('woff'),
       url('./../font/fontello.ttf?10879319') format('truetype'),
       url('./../font/fontello.svg?10879319#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('./../font/fontello.svg?10879319#fontello') format('svg');
  }
}
*/
 
 [class^="iwj-icon-"]:before, [class*=" iwj-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.iwj-icon-phone-circled:before { content: '\e800'; } /* '' */
.iwj-icon-basket:before { content: '\e801'; } /* '' */
.iwj-icon-heart:before { content: '\e802'; } /* '' */
.iwj-icon-search:before { content: '\e803'; } /* '' */
.iwj-icon-star:before { content: '\e804'; } /* '' */
.iwj-icon-star-empty:before { content: '\e805'; } /* '' */
.iwj-icon-mobile:before { content: '\e806'; } /* '' */
.iwj-icon-quote-left-1:before { content: '\e807'; } /* '' */
.iwj-icon-quote-right-1:before { content: '\e808'; } /* '' */
.iwj-icon-globe:before { content: '\e809'; } /* '' */
.iwj-icon-email:before { content: '\e80a'; } /* '' */
.iwj-icon-eye:before { content: '\e80b'; } /* '' */
.iwj-icon-eye-outline:before { content: '\e80c'; } /* '' */
.iwj-icon-exchange:before { content: '\e80d'; } /* '' */
.iwj-icon-cancel:before { content: '\e80e'; } /* '' */
.iwj-icon-info:before { content: '\e80f'; } /* '' */
.iwj-icon-ok:before { content: '\e810'; } /* '' */
.iwj-icon-suitcase:before { content: '\e811'; } /* '' */
.iwj-icon-calendar:before { content: '\e812'; } /* '' */
.iwj-icon-location-1:before { content: '\e813'; } /* '' */
.iwj-icon-heart-filled:before { content: '\e814'; } /* '' */
.iwj-icon-edit:before { content: '\e815'; } /* '' */
.iwj-icon-th-list:before { content: '\e816'; } /* '' */
.iwj-icon-th:before { content: '\e817'; } /* '' */
.iwj-icon-money:before { content: '\e818'; } /* '' */
.iwj-icon-print:before { content: '\e819'; } /* '' */
.iwj-icon-location:before { content: '\e81a'; } /* '' */
.iwj-icon-location-2:before { content: '\e81b'; } /* '' */
.iwj-icon-play:before { content: '\e81c'; } /* '' */
.iwj-icon-location-3:before { content: '\e81d'; } /* '' */
.iwj-icon-down-small:before { content: '\e822'; } /* '' */
.iwj-icon-left-small:before { content: '\e823'; } /* '' */
.iwj-icon-right-small:before { content: '\e824'; } /* '' */
.iwj-icon-up-small:before { content: '\e825'; } /* '' */
.iwj-icon-down-dir:before { content: '\e826'; } /* '' */
.iwj-icon-left-dir:before { content: '\e827'; } /* '' */
.iwj-icon-right-dir:before { content: '\e828'; } /* '' */
.iwj-icon-up-dir:before { content: '\e829'; } /* '' */
.iwj-icon-download:before { content: '\f02e'; } /* '' */
.iwj-icon-angle-left:before { content: '\f104'; } /* '' */
.iwj-icon-angle-right:before { content: '\f105'; } /* '' */
.iwj-icon-quote-left:before { content: '\f10d'; } /* '' */
.iwj-icon-quote-right:before { content: '\f10e'; } /* '' */
.iwj-icon-youtube-play:before { content: '\f16a'; } /* '' */
.iwj-icon-instagram:before { content: '\f16d'; } /* '' */
.iwj-icon-vimeo:before { content: '\f306'; } /* '' */
.iwj-icon-twitter:before { content: '\f309'; } /* '' */
.iwj-icon-facebook:before { content: '\f30c'; } /* '' */
.iwj-icon-gplus:before { content: '\f30f'; } /* '' */
.iwj-icon-linkedin:before { content: '\f318'; } /* '' */