.rtl .iw-posts .post-item .post-bottom .post-read-more {
    float: left;
}
.rtl .iw-item-info.style1 .item-readmore i {
    margin: 0 0 0 10px;
}
.rtl .iw-work-steps .owl-item:nth-child(2n+1) .iw-work-step.style1:before,
.rtl .iw-work-steps .owl-item:nth-child(2n) .iw-work-step.style1:before {
    left: auto;
    right: 50%;
}
.rtl .iw-button.left-text {
    text-align: right;
}
.rtl .iw-button.right-text {
    text-align: left;
}